body {
    font-family: Arial, sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 0;
}


header {
    background: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.profile-box {
    width: 400px;
    margin: 30px auto;
    background: #ffffff;
    padding: 20px;               
    border: 2px solid #ccc;       
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
}


.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 15px;          
    margin-bottom: 15px;
}

.bio {
    font-size: 1em;               
    margin-top: 10px;
}


footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;             
}
