body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#about-me {
    background-color: #ffcccc;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#education {
    background-color: #ccffcc;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#hobbies {
    background-color: #cce6ff;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
}

hr {
    border: none;
    height: 5px;
    background-color: #444;
    width: 80%;
    margin: 20px auto;
}
